# Ignore all files
*

# Include
!*.yaml
!.gitignore
!.HA_VERSION
!/*
!/DOCS/*
!/DOCS/images/*
!/esphome/*

# Include Fritzing files
!*.fzz

# Ignore specific files
ip_bans.yaml
secrets.yaml
known_devices.yaml
watchman_report.txt

# Ignore some file types
*.db*
*.log*
*.json
